In [28]:
SELECT n.nap, COUNT(o.ora_id) as "Órák Száma"
FROM orak o INNER JOIN Napok n ON o.nap = n.nap_id
GROUP BY n.nap
ORDER BY COUNT(o.ora_id)

nap,Órák Száma
Péntek,150
Szerda,150
Kedd,325
Csütörtök,475
Hétfő,575

In [29]:
SELECT t.Tantárgynév, okt.nev
-- tantárgyfelelős --
FROM Tantárgyak t LEFT JOIN Orak o ON t.Tkód = o.targy
                        JOIN Oktatok okt ON okt.oktato_id = t.Targyfelelős
-- akkor is megjeleníti a left join a dolgokat ha nincs párja ellentétben az inner joinnal -- 
WHERE o.targy IS NULL

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'Targyfelelős'.

In [27]:
SELECT okt.oktato_id, okt.nev
FROM Orak o JOIN Oktatok okt ON o.tanar = okt.oktato_id
            JOIN Napok n ON o.nap = n.nap_id
WHERE n.nap = "hétfő"

UNION

SELECT okt.oktato_id, okt.nev
FROM Orak o JOIN Oktatok okt ON o.tanar = okt.oktato_id
            JOIN Napok n ON o.nap = n.nap_id
WHERE n.nap = "kedd"

: Msg 207, Level 16, State 1, Line 4
Invalid column name 'hétfő'.

: Msg 207, Level 16, State 1, Line 11
Invalid column name 'kedd'.

Melyik nap nincsen órája Pelikán Józsefnek?

In [30]:
SELECT nap
FROM Napok n 

EXCEPT

SELECT n.nap
FROM Orak o JOIN Napok n ON o.nap = n.nap_id
        JOIN Oktatok okt ON o.tanar=okt.oktato_id
WHERE okt.nev = 'Pelikán József'

: Msg 102, Level 15, State 1, Line 2
Incorrect syntax near 'JOIN'.

In [33]:
SELECT Kredit, COUNT(Tkód) as 'Darab tárgy'
FROM Tantárgyak
GROUP BY Kredit

EXCEPT

SELECT Kredit, COUNT(Tkód) as 'Darab tárgy'
FROM Tantárgyak
WHERE Tantárgynév = 'Folyami gáttan'
GROUP BY Kredit
HAVING COUNT(Tkód) = 1

Kredit,Darab tárgy
1,10
2,20
3,15
4,10
5,5
6,5

13.feladat

In [ ]:
SELECT okt.nev AS 'Oktató neve'
        b.elvart AS 'Elvárt Óraszám'
        -- tényleges óraszám --
        COUNT(*) AS 'Tényleges óraszám'
FROM Orak o JOIN Oktatok okt ON o.tanar = okt.oktato_id
            JOIN Beosztasok b ON okt.beosztás = b.beosztas_id
GROUP BY okt.nev, b.elvart
HAVING COUNT(*) = b.elvart

11.Feladat

In [34]:
SELECT oktato_id, beosztás, [status], 
        CASE
            WHEN titulus IS NULL THEN nev
            ELSE titulus + ' ' + nev
        END AS 'titulos és név'
FROM Oktatok
ORDER BY beosztás, [status]

: Msg 207, Level 16, State 1, Line 1
Invalid column name 'titulos'.

: Msg 207, Level 16, State 1, Line 3
Invalid column name 'beosztas'.